body {
    background-image: linear-gradient(135deg, #0038FF, #E48F41);
    height: 100vh;
}

#fotoVi {
    background-image: url("assets/photos/fotoVi.jpeg");
    height: 255px;
    width: 255px;
    background-size: cover; 
    background-position: center;
    border-radius: 50%;
}

h1 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 33px 0px 27px 0px;
}

.buttonSocial {
    display: block;
    border-radius: 50px;
    width: 255px;
    height: 40px;
    background-color: #00000030;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 27px;
    position: relative;
    cursor: pointer;

    img{
        color: #ffffff;
        position: absolute;
        height: 24px;
        left: 40px;
        top: 9px;
    }

    p{
        position: absolute;
        left: 80px;
        top: 12px;
        font-size: 1.125rem;
        line-height: 1.125rem;
    }
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}